/* ******************************************** */
 /**********************700 px*********************** */
 @media(max-width : 43.75em){
    .tasks{
        justify-content: center;
    }

    
}


/* ******************************************** */
 /**********************550 px*********************** */
 @media(max-width : 34.37em){
    
    .form {
        min-width: 400px;
        min-height: 200px;
        
    }

    
}

/* ******************************************** */
 /**********************450 px*********************** */
 @media(max-width : 28.125em){
    html{
        font-size: 50%;
    }
    .brand{
        gap: 4rem;
    }

    .form {
        min-width: 200px;
        min-height: 200px;
        
    }

    .modal-task span {
        
        font-size: 1.6rem;
    }

    .quotes{
        padding: 2rem;
    }

    .success{
        
        top: 10%;
        
    }


    
}