@import url(general.css);



/* Styling for nav bar */
/* ******************************************************************* */
.main-nav{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.brand{
    display: flex;
    align-items: center;
    gap: 8rem;
}

/* Styling for Task Tab */
.task-tab{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-links{
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1.8rem;
    transition: all 300ms;
}

.nav-links:visited,
.nav-links:link{
    color: var(--main-text-color);
 

}

.nav-links:active,
.nav-links:hover{
    color: var(--main-text-color-hover);
    

}

/* Styling for user details */
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* .profile-icon{
    padding: 1.2rem 1.2rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
} */

/* ******************************************************************* */
/* Styles for Planner Body */

main{
    padding: 5rem 5rem;
    background-color: var(--main-bg-color);
    /* height: 100vh; */
   
}

/* Styles for header */
header{
    color: var(--main-text-color-hover);
}

/* Styles for task */
.tasks{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

/* Add task option styles */

.add-task{
   
    min-width: 275px;
    height: 275px;
    border-radius: 20px;
    border: 3px dashed var(--main-text-color-hover);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.add{
   font-size: 5.6rem;
    color: var(--main-text-color-hover);
}

.add-task p{
    color: blueviolet;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Styles for task card */
.card{
    padding: 2rem;
    max-width: 275px;
    height: 275px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px 5px #00000024;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}

.task-header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.task-header p{
    font-size: 2rem;
    font-weight: 500;
}

.tag{
    padding: 5px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
    background-color:orangered;
}

.task-desc{
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.time-required{
    
    font-size: 1.8rem;
    /* color: var(--main-text-color); */
    color: #000
    
}

/* .task-btns{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.edit-btn,.delete-btn{
    font-size: 1.8rem;
} */

/* **************************************************************************** */
/* Styles for Modal Box */

.modal-task{
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.711);
    z-index: 10;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}

.form{
    min-width: 500px;
    
    min-height: 300px;
    background-color: #aaa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    padding-bottom: 5rem;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.form-title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.form-close{
    font-size: 3.6rem;
    justify-self: end;
    cursor: pointer;
}

.form-title h1{
    
    grid-column: span 2;
    justify-self: end;
    transform: translateX(-20%);
}

.form input{
    font-family: inherit;
    font-size: 1.8rem;
    width: 80%;
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #1F1D24;
    color: var(--main-text-color-hover);
}

textarea{
    background-color: #1F1D24;
    color: var(--main-text-color-hover);
    font-family: inherit;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    resize: none;
}

.modal-task span{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
   
}

.modal-task span .task-hour,.modal-task span .task-min,.modal-task span .focus-time,.modal-task span .break-time{
    width: 100px;
}

.dial {
    font-size: 3.2rem;
}

.save,.save:focus{
    width: 80%;
    padding: 1.2rem;
    background-color: #2f9e44;
    color: #000;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.6rem;
}

.save:hover{
    background-color: #37b24d;
    cursor: pointer;
}

/* Remove scroll */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* *********************************************************** */

/* Error popup styles */
.error{
    padding: 1rem 2rem;
    background-color: orangered;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    position: absolute;
    top: 10%;
    left :50%;
    transform: translateX(-50%);
    border-radius: 30px;
}

.focus-greater{
    display: none;
}

.break-greater{
    display: none;
}

/* ************************************************************************** */

/* Styles for task page */

.task-page{
    height: 150vh;
    width: 100vw;
    
    z-index: 20;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    
    gap: 5rem;
    
}

/* styles for task page nav bar */

.task-nav{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
}

.task-total-time{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-total-time .icon, .task-total-time p{
    font-size: 2rem;
    color: #fff;
}

.task-page-btns{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.task-icon{
    color: white;
    font-size: 2.8rem;
}

.brand-name{
    
    font-size: 3.2rem;
    color: white;
    font-weight: 500;
    
}

/* styles for task page heading and content */

.task-page-title h1{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    color: white;
    
    
}

.task-page-title p{
    padding: 2rem 4rem;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    
    
}

/* Styles for timer and its content */

.timer{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.time{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.461);
    font-size: 3.2rem;
    color: white;
}

.timer .dial{
    color: white;
}

/* styles for phase and its respective contents */

.phase{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 600;
    animation: blink 2s linear infinite alternate;
}

.focus-phase{
    display: none;
}

/* Styles for quotes */

.quotes{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    font-style: italic;
}

.task-page-main-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
/* Style for completed button */

/* .completed{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.complete:link,
.complete:visited{
    padding: 1.2rem 2.4rem;
    
    background-color: #37b24d;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.complete:hover,
.complete:active{
   background-color: rgba(92, 249, 95, 0.729)
}

/* Style for Start button */

/* .started{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.start:link,
.start:visited{
    padding: 1.2rem 2.4rem;
    
    background-color: orange;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.start:hover,
.start:active{
   background-color:rgb(255, 184, 51)
}





/* Blinking animation effect */
@keyframes blink {
    0%{
        font-size: 1.4rem;
    }

    25%{
        font-size: 2rem;
    }

    50%{
        font-size: 2.4rem;
    }

    75%{
        font-size: 2.8rem;
    }

    100%{
        font: 3.2rem;
    }
}







